<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid justify-content-center" align="center">
        <div class="row">
            <div class="col-12">
                <a class="navbar-brand" href="#">NODE.JS</a>
            </div>
            <div class="col-12">
                <p class="m-0 text-white" style="font-weight: 100;font-size: 14px;">primeiro de muitos...</p>
            </div>
        </div>
    </div>
</nav>